<header class="header js-header">
  <h1>
    <svg class="logo" width="58" height="14" viewBox="259 183 29 7" aria-labelledby="h1"><title id="h1">fmoyt — full movies on YouTube</title><path d="M259,190 L259,183 L278,183 L278,185 L279,185 L279,183 L288,183 L288,186 L286,186 L286,190 L283,190 L283,186 L282,186 L282,188 L280,188 L280,190 L277,190 L277,188 L276,188 L276,190 L264,190 L264,188 L262,188 L262,190 L259,190 Z M260,189 L260,184 L264,184 L264,185 L261,185 L261,186 L264,186 L264,187 L261,187 L261,189 L260,189 Z M265,189 L265,184 L270,184 L270,189 L269,189 L269,185 L268,185 L268,189 L267,189 L267,185 L266,185 L266,189 L265,189 Z M271,189 L271,184 L275,184 L275,189 L271,189 Z M276,184 L277,184 L277,186 L280,186 L280,184 L281,184 L281,187 L279,187 L279,189 L278,189 L278,187 L276,187 L276,184 Z M282,184 L287,184 L287,185 L285,185 L285,189 L284,189 L284,185 L282,185 L282,184 Z M272,185 L274,185 L274,188 L272,188 L272,185 Z" stroke="none" fill-rule="evenodd"></path></svg>
  </h1>
  <div class="tabs js-tablist mono"></div>
</header>

<main class="js-main">
  <div id="all" role="tabpanel">
    <ul class="grid js-grid">
      {{#each movies}}
      <li class="grid-item">
        <a href="/{{youtube_id}}" class="js-grid-item">
          <div class="grid-item__poster js-grid-poster">
            <img ix-src="https://fmoyt-10k.imgix.net{{poster}}?w=320&amp;h=480&amp;fit=crop&amp;auto=format,compress" alt="" sizes="170px" class="lazyload">
          </div>
          <h3>{{title}}</h3>
          <time datetime="{{year release_date}}" class="mono">{{year release_date}}</time>
        </a>
      </li>
      {{/each}}
    </ul>
    <div class="load-more">
      <a href="/page/2" class="btn btn--primary js-load-more">Load More</a>
    </div>
  </div>
  <div id="saved" class="js-saved" role="tabpanel" aria-hidden="true"></div>
</main>

<div class="movie-container js-movie-container" aria-hidden="true">
  <div class="movie-container__bg js-movie-container-bg"></div>
  <div class="movie js-movie">
    <div class="movie-inner js-movie-inner">
      <div class="movie-front js-movie-front"></div>
      <div class="movie-back js-movie-back">
        <div class="movie-back__poster js-movie-back-poster"></div>
        <h1 class="js-movie-title"></h1>
        <p class="movie__overview js-movie-overview"></p>
        <div class="movie__meta">
          <div>
            <h3 class="mono">Release Date</h3>
            <p class="js-movie-release-date"></p>
          </div>
        </div>
        <div class="movie__btns">
          <button type="button" class="btn btn--secondary btn--icon js-save" data-title="" data-id="">
            <span class="btn__icon"><svg viewBox="0 0 24 24">
              <path d="M17 3H7c-1.1 0-1.99.9-1.99 2L5 21l7-3 7 3V5c0-1.1-.9-2-2-2zm0 15l-5-2.18L7 18V5h10v13z"/>
            </svg></span>
            <span class="btn__text">Save</span>
          </button>
          <a href="#" class="btn btn--primary btn--icon js-movie-link">
            <svg viewBox="0 0 24 24">
              <path d="M8 5v14l11-7z"/>
            </svg>
            Watch Now
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
